@import url(./vars.css);

/* --------------------------- */

.footer {
    width: 1920px;
    
    background-color: black;
    color: white;

    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-align: left;
}

.footer-grid {
    margin: 0 auto;
    padding-top: 7rem;

    height: 387px;
    width: 70%;
    display: grid;
    grid-template-columns: 35% 15% 15% 45%;
    
    /* border: 2px solid red; */
}

.footer div {
    /* border: 2px solid black; */
}

/* --------------------------- */

.footer-left {
}

.footer-left p {
    height: 81px;
    width: 371px;
}

/* --------------------------- */

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-size: 16px;
    font-weight: 600;
}

/* --------------------------- */

.footer-right {
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* height: 100%; */
}

.footer-right p {
    height: 91px;
    width: 290px;
}

.footer-email {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gold;
    color: black;
    border-radius: 27px;
    /* font-size: 16px; */

    height: 45px;
    width: 372px;
}

.footer-icons {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
}

.footer-icons img {
    margin: 7px;
}