@import url(./vars.css);

.head {
    position: relative;
}
.head__img {
    width: 100%;
}
.head__content {
    position: absolute;
    left: calc(50% - 806px/2);
    top: 40%;

    font-size: 22px;

    letter-spacing: 0.64em;
    text-transform: uppercase;

    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.head-content__desc {
    margin-top: calc(var(--picturePadding) * 1.2);
        
    text-align: center;
    letter-spacing: 0.37em;

    color: #FFFFFF;
    text-shadow: none;
}
.head-content__btn {
    margin-left: calc(50% - 172px/2);
    margin-top: calc(var(--picturePadding) * 1.6);

    width: 172px;
    height: 44px;

    background-color: var(--yellowColor);
    text-shadow: none;
    border:none;

}

.top-white {
    padding-top: 166px;
    padding-bottom: 212px;
    background-color: white;
    /* height: 640px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-white__text {
    margin-top: calc(var(--picturePadding) * 3.4);
    width: 636px;
    font-size: 16px;
    line-height: 206%;
    letter-spacing: 0.05em;
    text-align: center;
}

.top-gray {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: calc(var(--picturePadding) * 3.4);
    padding-bottom: calc(var(--picturePadding) * 1.54);
}

/* .top-gray__img {
    margin-top: ;
} */

.top-gray__txt-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.78em;
    margin-top: calc(var(--picturePadding) * 1.3);
}
.top-gray__txt-content {
    margin-top: var(--picturePadding);
    font-size: 16px;
    line-height: 206%;
    text-align: center;
    width: 764px;
    letter-spacing: 0.05em;
}
.top-gray__grid {
    display: grid;
    margin-top: 72px;
    width: var(--contentWidth);
    grid-template-columns: repeat(4, 1fr);
    gap: var(--picturePadding);
}
.gray-grid__main-exp {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gray-main-exp__img {
    margin-top: calc(var(--picturePadding) * 1.625);
    height: 75px;
}
.gray-main-exp__img-BIG {
    height: 50%;
}
.gray-main-exp__title {
    margin-top: var(--picturePadding);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    letter-spacing: 0.25em;
}
.gray-main-exp__content {
    margin-top: calc(var(--picturePadding) * 1.46);
    margin-bottom: var(--picturePadding);
    padding: 0 calc(var(--picturePadding) * 1.33);

    line-height: 178%;

    text-align: center;
    letter-spacing: 0.05em;
}

.gray-grid__stats-container {
    background-color: white;
    padding: calc(var(--picturePadding) / 2) calc(var(--picturePadding) * 2 / 3);
    padding-bottom: 5px;
}
.stats__section-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
}
.stats-section__progressbar {
    margin-top: calc(var(--picturePadding) * 0.62);
    margin-bottom: calc(var(--picturePadding) * 0.71);
    width: 100%;
    height: 5px;
    background-color: #F3F3F3;
    opacity: 0.7;
}
.progressbar__progress {
    width: 80%;
    height: 5px;
    background-color: var(--yellowColor);
}